/* Light Theme (Default) */
body {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  /* Dark Theme */
  body.dark-theme {
    background-color: #121212 !important;
    color: white !important;
  }

  